<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="rootLogStdoutAppender" class="org.apache.log4j.ConsoleAppender" >
		<param name="threshold" value="info" />
		<param value="UTF-8" name="Encoding" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%C{1}] %m%n" name="ConversionPattern" />
		</layout>
	</appender>

	<appender name="rootLogFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="info" />
		<param name="Encoding" value="UTF-8" />
		<param name="file" value="${log_dir_root}/solar/solar.log" />
		<param name="append" value="true" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%-4L] [%c] [Thread:%t] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="rootLogStdoutAppender" />
		<appender-ref ref="rootLogFileAppender"/>
	</root>
</log4j:configuration>
